/* Медиа-запрос для экранов от 320px до 480px */
@media (min-width: 320px) and (max-width: 480px) {
    .signUp {
        width: 100%;
        padding: 0 15px; // Добавим немного отступа по бокам для воздуха
    }

    .endSchoolYear {
        width: 270px !important; 
        border-width: 2px !important;
    }

    .choose-photo-profile {
        display: block;        
        top: 835px;
        left: 50px;
        position: absolute;
        z-index: 100;
    }

    .alertSuccess {
        position: absolute;
        bottom: -380px;
    }
    .alertError {
        position: absolute;
        bottom: -380px;
    }

    
    .ant {
        width: 250px !important; 
        text-align: center;
        border-width: 62px !important;
        border: 1px solid rgb(193, 9, 9);

    } 

    .signUp-infoBlock-text-1 {
        font-size: 14px; 
        text-align: center; // Центрируем текст для лучшего восприятия
    }

    .registration-container h2 {
        font-size: 18px; 
        text-align: center; // Центрируем заголовок
    }

    .form-group {
        flex-direction: column; // Элементы теперь будут идти один за другим, а не в ряд
    }

    .signUp-input {
        width: 100%; // Заставим input растягиваться на всю доступную ширину
        margin-bottom: 10px; // Добавим немного отступа снизу для разделения
    }

    .alreadyHaveAccount {
        display: block; // Сделаем ссылку блочной, чтобы она занимала всю строку
        text-align: center; // И центрируем текст внутри
        margin-top: 15px; // Добавим отступ сверху
    }

    .signUp-btn {
        display: block; // Кнопка будет занимать всю строку
        margin: 20px auto 0; // Центрируем кнопку и добавляем отступ сверху
    }
    .form-group-text2 {
        position: absolute;
    }
    .form-group-text1 {
        position: absolute;
        left: 0px;
        top: 90px;
        width: 200px;
        font-style: italic;
        bottom: 20px;
        z-index: 20;
        margin-bottom: 20px; 
    }
    .passwordEye {
        position: absolute;
        left: 270px;
        top: 10px;
    }
}

@media (min-width: 500px)  {

    .choose-photo-profile {
        display: none;        
    }
}