@media (min-width: 320px) and (max-width: 480px) {

    .home {
        width: 320px;
        margin: 0 auto;

        background: url('../../assets/DALL·E\ 2023-10-22\ 22.57.28\ -\ Illustration\ of\ a\ sophisticated\ rabbit\ dressed\ in\ a\ formal\ business\ suit\ and\ a\ stylish\ tie.png');
        background-repeat: no-repeat;
        background-position: center 70px;
        background-size: 100%;
        position: relative;
        


        .text-87 {
            position: absolute;
            bottom: 260px;
            width: 320px;
    
            text-align: center;
        }
    
        .text-87 p {
            color: #3f484d;
            font-weight: 700;
            font-size: 50px;
            font-style: italic;
            font-family:Arial, Helvetica, sans-serif ;
        }

        .adminSiteInfo {
            position: relative;
            margin-left: 80px;
            font-size: 10px;
            font-weight: 600;
            margin-top: 460px;
        }

        .adminSiteInfo-t-2 {
            font-weight: 700;
        }
    }    
}