@media (min-width: 320px) and (max-width: 480px) {

    .home {
        width: 320px;
        margin: 0 auto;

        background: url('../../assets/DALL·E\ 2023-10-22\ 22.57.28\ -\ Illustration\ of\ a\ sophisticated\ rabbit\ dressed\ in\ a\ formal\ business\ suit\ and\ a\ stylish\ tie.png');
        background-repeat: no-repeat;
        background-position: center 70px;
        background-size: 100%;
        position: relative;
        
        .home-info-block {
            position: absolute;
            top: 400px;
            font-size: 15px;
            font-weight: 500;
        }


        .home-text-1-Allah {
            width: 200px;
            margin-top: 40px;
            margin-left: 0px;
        }
        }
    
}